{% extends 'base.html.twig' %}

{% block title %}Johan Kasri | Accueil{% endblock %}

{% block body %}
    <div class="home-presentation text-center">
        <p>
            Je suis un <strong>développeur web</strong> passionné et <em>expérimenté</em>, spécialisé dans le développement avec <strong>Symfony</strong>.<br>
            Je passe mon temps à perfectionner mes compétences.<br>
            Grâce à mon expertise technique et à mon esprit créatif, je suis en mesure de <em>créer des sites web</em> innovants et <strong>performants</strong> qui répondent aux besoins de mes clients.<br>
            Si vous cherchez un développeur web professionnel et dévoué, je suis là pour vous aider à réaliser votre projet avec <strong>succès</strong>.
        </p>
    </div>

    <section class="projects-section">
        <div class="container">
            <h2 class="text-center mb-5">Aperçu de mes projets</h2>
            <div class="row">
                {% for project in projects %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('img/' ~ project.picture) }}" alt="{{ project.title }}">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ project.title }}</h5>
                            <p class="card-text text-center">{{ project.description }}</p>
                            <a href="{{ project.link }}" class="btn btn-dark">Voir le projet</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="skills-section">
        <div class="container">
            <h2 class="text-center mb-5">Mes compétences clés</h2>
            <div class="row">
                {% for skill in skills %}
                <div class="col">
                    <h5>{{ skill.name }}</h5>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="experience-section">
        <div class="container">
            <h2 class="text-center mb-5">Mon expérience professionnelle</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="experience-item">
                        <h4>Nom de l'entreprise</h4>
                        <h5>Titre de poste</h5>
                        <p>Date de début - Date de fin</p>
                        <p>Description des tâches et réalisations</p>
                    </div>
                </div>
            </div>
            <div class="testimonials-section">
                <h2 class="text-center mt-5 mb-5">Ce que disent mes clients</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="testimonial-item">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at lorem vel libero semper dignissim quis vel est."</p>
                            <p class="testimonial-author">- Nom de l'auteur, Fonction</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="contact-section">
                <h2 class="text-center mt-5 mb-5">Me contacter</h2>
                {{ form_start(contact) }}
                {{ form_end(contact) }}
            </div>
        </div>
    </section>


{% endblock %}
